<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="newscraper-title" href="#">NewScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-3 my-auto">
        <a href="/">Home</a>
      </li>
      <li class="nav-item active mx-3 my-auto">
        <a href="/saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- End of Navbar --}}

<div class="jumbotron text-center" id="title-jumbotron">
    <div class="caption">
        <h1 id="title-title">NewScraper</h1>
        <p id="title-subtitle">Power to the Scraper</p>
    </div>
    <div class="container-fluid article-container">
    </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{{!-- JQuery CDN + OUr own javascript file --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../../assets/javascript/index.js"></script>