.navbar{
    background: black;
}
#title-jumbotron{
    background-image: url("../images/NewspaperBG.jpg");
    font-family: 'Audiowide', cursive;
    color: white;
    text-shadow: 2px 2px black;
};

#trelavy{
    color: blue;
}

