#newscraper-title{
    font-family: 'Audiowide', cursive;
}

#title-jumbotron{
    background-image: url("../images/NewspaperBG.jpg");
}

#title-title{
    font-family: 'Audiowide', cursive;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px black;
}

#title-subtitle{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px white;
}


